
.search, .plus, .create-account {
    display: block;
    height: 40px;
}

.search {
    border-radius: 20px;
    width: 140px;
    margin: 20px 40px;
    border: darkcyan solid;
    color: darkcyan;
}

.plus {
    border-radius: 100%;
    width: 40px;
    margin: 20px 40px;
    color: white;
    border: none;
    background-color: darkcyan;
    font-size: 20px;
}

.create-account {
    height: 40px;
    width: 160px;
    margin: 20px 40px;
    color: whitesmoke;
    background-color: dodgerblue;
    border: black solid 2px;
    box-shadow: black 3px 3px;
    font-size: 15px;
}