
.container {
    width: 800px;
    background-color:rgb(230, 228, 228);
    margin: 0px auto;
    padding:20px;
    padding-bottom: 20px;
    font-family: sans-serif;
    text-align: center;
    color: darkslategray;
}

h1 { 
    font-size: 40px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 20px;
}

img.octocat {
    height: 200px;
}

.row {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.salmon {
    background-color: lightsalmon;
}

.yellow {
    background-color: lightyellow;
    justify-content: space-evenly;
}

.blue {
    background-color: lightsteelblue;
}

h3.footer {
    font-weight: 100;
    margin-bottom: 0px;
}

a:link {
    color: darkturquoise;
    background-color: transparent;
  }
  
  a:visited {
    color: darkturquoise;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: darkcyan;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  