.container {
    width: 720px;
    height: 250px;
    background-color: silver;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col {
    width: 220px;
    height: 150px;
    padding: 10px;
    background-color: blanchedalmond;
    display: inline-block;
    vertical-align: center;
}