* {
    padding: 0px 0px;
}

body {
    color: white;
}

.row {
    display: flex;
    padding: 10px 0px;
}

.col {
    flex: 1;
    padding: 10px 10px;
    margin: 10px 10px;
    background-color: cadetblue;
}

.col-2 {
    flex: 2;
    padding: 10px 10px;
    margin: 10px 10px;
    background-color: cadetblue;
}

.col-3 {
    flex: 3;
    padding: 10px 10px;
    margin: 10px 10px;
    background-color: cadetblue;
}