* {
    font-family: sans-serif;
}

h1 {
    background-color: black;
    color: cyan;
    text-align: left;
}

h1 span {
    color: white;
}

h2 {
    background-color: #663399;
    color: white;
    text-align: center;
    font-style: italic;
}

h3 {
    background-color: #a0c5f8;
    color: #336;
    text-align: right;
    text-decoration: underline;
}